:host{
	flex:1;
}

.form-field {
  font-size: 18px;
  font-weight: var(--font-light);
  display: block;
  position: relative;
  margin-bottom: 15px;

  & input[type="text"],
  & input[type="number"],
  & select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: var(--font-size-large);
    min-height: 67px;
  }

  &.required label::after {
    content: " *";
    color: red;
  }

  & .error {
    color: red;
	 font-size: var(--font-size-small);
	 position: absolute;
	 left:0;
	 bottom: -20px;
  }
}
