<form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-section required">
      @let displayError = shouldDisplayCountryControlError$ | async;
      <label for="first-name">Country</label>
      <select name="country" id="country" formControlName="country">
        <option *ngFor="let country of countries$ | async" [value]="country">
          {{ country }}
        </option>
      </select>
      @if (displayError) {
      <span class="error">Required Field</span>
      }
    </div>
  </div>
  <app-form-field
    label="Street Address 1"
    [control]="form.controls.addressLine1"
  >
  </app-form-field>

  <app-form-field
    label="Street Address 2"
    [control]="form.controls.addressLine2"
  >
  </app-form-field>
  <div class="form-row">
    <app-form-field label="City" [control]="form.controls.city">
    </app-form-field>
    <ng-container *ngIf="states$ | async as states">
      <div class="form-section required" *ngIf="states.length">
        @let displayError = shouldDisplayStateControlError$ | async;
        <label for="state">State</label>
        <select name="state" id="state" formControlName="state">
          <option *ngFor="let state of states" [value]="state">
            {{ state }}
          </option>
        </select>
        @if (displayError) {
        <span class="error">Required Field</span>
        }
      </div>
    </ng-container>
    <app-form-field label="Zip" [control]="form.controls.zipCode">
    </app-form-field>
  </div>
  <div class="buttons">
    <button type="button" class="btn cancel" (click)="resetForm()">
      reset
    </button>
    <button type="submit" class="btn save">Save this Address</button>
  </div>
</form>
