:host {
  min-width: 662px;
}

h2 {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-regular);
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-weight: 500;

  & input[type="radio"] {
    &:checked {
      border: 10px solid white;
      background: var(--primary-color);
    }
  }
}
