:host {
  min-width: 662px;
}

h2 {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-regular);
}

form {
  background: #fff;
  border: 3px solid var(--primary-color);
  border-radius: 8px;
  padding: 30px 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-weight: 500;

  & input[type="radio"] {
    &:checked {
      border: 10px solid white;
      background: var(--primary-color);
    }
  }
}
