section {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    gap: 30px;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    section {
        flex-direction: column;
    }

}